:root {
  --color-blue-button: #0079ff;
  --color-blue-button-hover: #60abff;
  --color-red: #f74646;
  --color-white: #ffffff;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
}

[data-theme="light"] {
  --color-text: #4b6a9b;
  --color-heading: #2b3442;
  --color-background-main: #f6f8ff;
  --color-background-card: #fefefe;
  --color-background-stats: #f6f8ff;
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

[data-theme="dark"] {
  --color-text: #ffffff;
  --color-heading: #ffffff;
  --color-background-main: #141d2f;
  --color-background-card: #1e2a47;
  --color-background-stats: #141d2f;
  --box-shadow: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  min-height: 100dvh;
  padding: 1.9375rem 1.5rem;
  color: var(--color-text);
  background-color: var(--color-background-main);
}

/****************************************************************************** HEADER */

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-heading {
  font-size: 1.625rem;
  font-weight: 700;
  color: var(--color-heading);
}

.header-mode-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-mode-text {
  all: unset;
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin-right: 1rem;
  text-align: end;
  text-transform: uppercase;
}

.header-mode-image {
  width: 20px;
  height: 20px;
}

/****************************************************************************** SEARCH BAR */

.search-form {
  position: relative;
  margin: 2.1875rem 0 1rem 0;
  box-shadow: var(--box-shadow);
}

.search-input {
  all: unset;
  background-color: var(--color-background-card);
  border-radius: var(--border-radius-15);
  box-sizing: border-box;
  color: var(--color-text);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 25px;
  padding: 1.125rem 0 1.0625rem 2.8125rem;
  width: 100%;
}

.search-input::placeholder {
  color: var(--color-text);
}

.search-icon {
  height: 20px;
  left: 16px;
  position: absolute;
  top: 20px;
}

.search-button {
  all: unset;
  background-color: var(--color-blue-button);
  border-radius: var(--border-radius-10);
  color: var(--color-white);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.7813rem 1.125rem;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 6.5px;
}

.search-button:hover {
  background-color: var(--color-blue-button-hover);
}

.search-error-message {
  color: var(--color-red);
  font-size: 0.9375rem;
  font-weight: 700;
  position: absolute;
  top: 18px;
  right: 110px;
  display: none;
}

.show {
  display: inline-block;
}

/****************************************************************************** MAIN CARD */

.card-container {
  padding: 2.0625rem 1.5rem 3.0625rem 1.5rem;
  background-color: var(--color-background-card);
  border-radius: var(--border-radius-15);
  box-shadow: var(--box-shadow);
}

.card-media-container {
  display: flex;
  align-items: center;
}

.card-media-text-container {
  display: flex;
  flex-direction: column;
}

.card-media-image {
  height: 70px;
  border-radius: 100%;
  margin-right: 1.1875rem;
}

.card-media-username {
  color: var(--color-heading);
  font-weight: 700;
  font-size: 1rem;
}

.card-media-address {
  color: var(--color-blue-button);
  font-size: 0.8125rem;
  font-weight: 400;
  margin-bottom: 0.375rem;
}

.card-media-joined {
  font-size: 0.8125rem;
  font-weight: 400;
}

.card-description-container {
  margin: 2.0625rem 0 1.4375rem 0;
}

.card-description {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 25px;
}

.card-stats-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-background-main);
  border-radius: var(--border-radius-10);
  padding: 1.125rem 0 1.1875rem 0;
  margin-bottom: 1.5rem;
}

.card-stats-element {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-stats-name {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.card-stats-numbers {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-heading);
}

.card-links-container {
  display: flex;
  flex-direction: column;
}

.card-links {
  display: flex;
  align-items: center;
  margin-bottom: 1.0625rem;
}

.card.links:last-of-type {
  margin-bottom: 0;
}

.card-links-image-wrapper {
  width: 30px;
  display: flex;
  align-items: center;
}

.card-links-image path {
  fill: var(--color-text);
}

.card-links-text {
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.8125rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.card-links-image {
  height: 20px;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 8.75rem 6.0625rem;
  }

  /****************************************************************************** SEARCH BAR */

  .search-form {
    margin-bottom: 1.5rem;
  }

  .search-input {
    font-size: 1.125rem;
    padding: 1.375rem 0 1.375rem 5rem;
  }

  .search-icon {
    height: 24px;
    left: 32px;
    top: 24px;
  }

  .search-button {
    font-size: 1rem;
    padding: 0.7813rem 1.5rem;
    right: 10px;
    text-align: center;
    top: 9.5px;
  }

  .search-error-message {
    top: 24px;
    right: 140px;
  }

  /****************************************************************************** MAIN CARD */

  .card-container {
    padding: 2.5rem;
  }

  .card-media-image {
    height: 117px;
    margin-right: 2.5625rem;
  }

  .card-media-username {
    font-size: 1.625rem;
    margin-bottom: 0.125rem;
  }

  .card-media-address {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  .card-media-joined {
    font-size: 0.9375rem;
  }

  .card-description-container {
    margin: 1.25rem 0 2.0625rem 0;
  }

  .card-stats-container {
    margin-bottom: 2.3125rem;
  }

  .card-links-container {
    display: flex;
    flex-direction: row;
  }

  .card-links-left {
    width: 50%;
  }

  .card-links-right {
    width: 50%;
  }

  .card-links {
    margin-bottom: 1.1875rem;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    padding: 9rem 22.1875rem;
  }

  /****************************************************************************** MAIN CARD */

  .card-container {
    padding: 2.75rem 48px 42px 202px;
    position: relative;
  }

  .card-media-image {
    margin-right: 0;
    position: absolute;
    left: 3rem;
    top: 3rem;
  }

  .card-media-address {
    margin-bottom: 0;
  }

  .card-media-joined {
    position: absolute;
    top: 3.25rem;
    right: 3rem;
  }

  .card-description-container {
    margin: 1.5rem 0 2rem 0;
  }

  .card-description {
    font-size: 0.9375rem;
  }

  .card-stats-container {
    padding: 0.9375rem 0 1.0625rem 0;
    margin-bottom: 1.875rem;
  }

  .card-stats-name {
    font-size: 0.8125rem;
    margin-bottom: 0.0625rem;
  }

  .card-stats-numbers {
    font-size: 1.375rem;
  }

  .card-links {
    margin-bottom: 1.1875rem;
  }

  .card-links-text {
    font-size: 0.9375rem;
  }
}
